<div class="main-content">
<app-header></app-header>
<div class="container ">
    <div class="row">
		<div class=" col-md-12 col-sm-12  col-xs-12 table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">name</th>
            <th scope="col">picture</th>
            <th scope="col">tweet</th>
            <th scope="col">created at</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let post of posts;let i = index" [attr.data-index]="i">
            <th scope="row">{{i+1}}</th>
            <td>{{post.screen_name}}</td>
            <td><img src="{{post.picture}}"></td>
            <td>{{post.tweet_text}}</td>
            <td>{{post.tweeted_at}}</td>

          </tr>


        </tbody>
      </table>


                </div>
            </div>
</div>
<app-footer></app-footer>
</div>
